@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Lato", Arial, Helvetica, sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Outfit:wght@100..900&display=swap');


/* Lato Font Variants */
.font-lato-thin {
  font-family: "Lato", sans-serif;
  font-weight: 100;
}

.font-lato-light {
  font-family: "Lato", sans-serif;
  font-weight: 300;
}

.font-lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

.font-lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
}

.font-lato-black {
  font-family: "Lato", sans-serif;
  font-weight: 900;
}

/* Outfit Font Variants */
.font-outfit {
  font-family: "Outfit", sans-serif;
}
.font-outfit-light {
  font-weight: 200;
}
.font-outfit-medium {
  font-weight: 500;
}
.font-outfit-bold {
  font-weight: 700;
}
